
{% extends 'shop/basic.html' %}

{% block title %} Tracker {% endblock title %}

{% block body %}
<div class="container">
<div class="col">
<h2 class="text-center">Enter your Order id and Email Address to track your order</h2>
<form method="POST" action="#" id="trackerForm"> {% csrf_token %}
    <div class="form-row">
        <div class="form-group col-md-6">
            <label for="name">Order Id</label>
            <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">
        </div>
        <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            <input type="email" class="form-control" id="inputEmail4" name="email" placeholder="Email">
        </div>
        <button type="submit" class="btn btn-primary mb-2">Track Order</button>
    </div>
</form>
</div>
<div class="col">
<h2 class="text-center">Your Order Status</h2>
<div class="my-4">
    <ul class="list-group" id="items">
        <!-- li part which we will append at last in js -->
        Enter Your Order Id and Email and Click Track Order to find details about your order.
    </ul>
</div>

<h2 class="text-center">Your Order Details</h2>
<div class="my-4">
    <ul class="list-group" id="citems">
    </ul>
</div>
</div>
</div>
{% endblock body %}

{% block js %}
<script>
$('#trackerForm').submit(function (event) {
$('#items').empty();
var formData = {
    'orderId': $('input[name=orderId]').val(),
    'email': $('input[name=email]').val(),
    'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
};

$.ajax({
    type: 'POST',
    url: '/shop/tracker/',
    data: formData,
    encode: true
})
    .done(function (data) {
        $('#citems').empty();
        data = JSON.parse(data);
        
        if (data['status'] == 'success') {
            updates = data['updates'];

            for (i = 0; i < updates.length; i++) {
                let text = updates[i]['text'];
                let time = updates[i]['time'];

                mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            ${text}
            <span class="badge badge-primary badge-pill">${time}</span>
        </li>`
                $('#items').append(mystr);
            }

             // fill the orderdetails
        cart = JSON.parse(data['itemsJson']);
        for (item in cart) {
            let name = cart[item][1];
            let qty = cart[item][0];

            // li we will copy from b4 which is in list group
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            ${name}
            <span class="badge badge-primary badge-pill">${qty}</span>
        </li>`
            $('#citems').append(mystr);
        }

        } else {
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            Sorry we are not able fetch your order id please write a valid order id or correct email id.</li>`
            $('#items').append(mystr);
            $('#citems').append(mystr);
        }
    });

event.preventDefault();
})
</script>
{% endblock js %}
                